#button1{
    background-color: rgba(72, 255, 0, 0.9);
    color: black;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-left: 30%;
}

#button2{
    background-color: rgb(255, 0, 0,0.9);
    color: white;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-left: 30%;
}

h3{
    background-color: rgba(114, 246, 255);
    border-radius: 10px;
    text-align: center;
}